body{
    margin: 0;
    padding:0;
}
*{
   box-sizing: border-box;
   text-align: center;
}
/* #Tabla{
    text-align: center;
    padding-left: 50px;
} */
.table{
    width: 100%;
    border-collapse: collapse;
    
}